.Filter{
  margin-left: 3vw;
  padding: 15px 20px;
  width: 20vw;
  height: 570px;
  background-color: var(--entity-color-body);
  border-radius: var(--entity-border-radius);


}
.Slider{
  margin-top: 25px;

  .panel{
    display: flex;
    justify-content: space-between;
  }
  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background: var(--entity-color-deep-body);
    outline: none;
  }

  /* Ползунок */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--entity-color-used);
    cursor: pointer;
  }

  /* Для Firefox */
  input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--entity-color-used);
    cursor: pointer;
  }
}